$color-dark-grey: #3D3D3D;
$color-bootstrap-primary: #337ab7;

.modal-center.modal.in .modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.modal-center.modal .modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin: 0;
}

.modal-backdrop {
  z-index: 1050;
  /* needs to be same index as dialog content to allow for proper stacking */
}

.modal {
  a {
    color: $color-dark-grey;
  }
  .close {
    color: #ffffff;
    font-size: 2.25em;
    opacity: 1.0
  }
  .modal .close:hover {
    color: #000000;
  }
  .modal-title-contents {
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: left;
  }
  .modal .container-fluid.increase-padding,
  .modal .container-spacing {
    padding-left: 8.3%;
    padding-right: 8.3%;
  }
  /*** Confirm *****/
  .modal-title {
    color: #fff;
  }
  .modal-header-flex {
    display: flex;
    align-items: center;
  }
  .modal-header-flex>* {
    margin-left: 20px;
  }
  .modal-header-flex div {
    text-align: left;
  }
  .modal-header-flex img {
    height: 45px;
    width: 120px;
    margin-right: 10px;
  }
  .modal-header {
    background-color: $color-bootstrap-primary;
    .logo {
      /*background-image: url("../path/to/logo/url.jpg");*/
      background-size: 100% 100%;
      width: 120px;
      height: 46px;
    }
  }
  .modal-header.warning {
    /* bootstrap warning color scheme */
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    h4 {
      color: #8a6d3b;
    }
  }
  .modal-header {
    color: $color-white;
    background-color: $color-bootstrap-primary;
  }
  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
}

.modal.modal-static-height .modal-body {
  min-height: calc(100vh - 210px);
  height: calc(100vh - 210px);
  max-height: calc(100vh - 210px);
}